// src/scss/partials/_cta-final.scss
@use 'variables' as *;

.cta-final-section {
  padding: 80px 0;
  background-color: var(--color-dark-blue);
  color: var(--color-white);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      gap: 60px;
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;

    .image-placeholder {
      width: 200px;
      height: 200px;
      background-color: var(--color-mid-blue);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--color-accent);

      i {
        font-size: 4rem;
        margin-bottom: 10px;
      }

      p {
        font-weight: 600;
      }
    }
  }

  &__content {
    flex: 1;
    text-align: center;

    @media (min-width: 992px) {
      text-align: left;
    }

    .quote {
      font-size: 1.5rem;
      font-style: italic;
      margin-bottom: 30px;
      line-height: 1.6;
    }

    &__name {
      display: block;
      font-weight: 700;
      margin-bottom: 5px;
    }

    &__title {
      display: block;
      color: var(--color-light-gray);
      margin-bottom: 30px;
    }
  }
}