// src/scss/partials/_footer.scss
@use 'variables' as *;

.site-footer {
  background-color: var(--color-dark-blue);
  color: var(--color-light-gray);
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid var(--color-mid-blue);
}