// src/scss/style.scss

// Parciales de base
@use 'partials/variables';
@use 'partials/reset';
@use 'partials/layout'; 

// Parciales de componentes
@use 'partials/preloader';
@use 'partials/header'; 
@use 'partials/hero';   
@use 'partials/mobile-nav';
@use 'partials/clients';
@use 'partials/locations';
@use 'partials/results';
@use 'partials/diferenciadores';
@use 'partials/proceso';
@use 'partials/certificate';
@use 'partials/cta-final';
@use 'partials/footer';